<!--

Container Project/index.html
********************************************************************************
SALVADOR VILLALON CONTAINER PROJECT
index.html

This page serves as the simple Web Application that Sreedhar mentioned


********************************************************************************

S&P Global Dow Jones Indices

Summer 2018
Salvador Villalon


 -->


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Container Web Application</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>

    <!-- *************************************************** -->
    <!--                                                     -->
    <!-- CONTENT IN MIDDLE OF PAGE                           -->
    <!--                                                     -->
    <!-- *************************************************** -->
    <div class="container-fluid landing">
      <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <h1> Salvador Villalon </h1>
              <p> A Simple Web Application Using Containers</p>
              <!-- <button type="button"
               onclick="document.getElementById('demo').innerHTML = Date()">
               Click on me display Date and Time. </button> -->
               <p id="demo"></p>
                <!-- <a class="btn btn-default btn-train" href="index.html" role="button"> Click Here to Begin Your Training </a> -->
              </div>
          </div>
      </div>
    </div>

  </body>
</html>
